# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [2]:
nums=[1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [2]:
# Method 1 
lst=[1,2,3,4]
lst.remove(3)

In [3]:
lst

[1, 2, 4]

In [6]:
# Method 2
lst1=[1,2,3,4]
lst1.pop(2)

3

In [7]:
lst1

[1, 2, 4]

In [7]:
# Method 3
lst2=[1,2,3,4]
del lst2[2]
lst2

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [8]:
lst=[2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [9]:
lst=[1,2,3,4]
lst.insert(2,"two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [15]:
#CODE HERE
phrase="Don't panic!"

In [29]:
phrase=list(phrase)

In [30]:
phrase

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [33]:
phrase

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [34]:
phrase.remove("!")

In [35]:
phrase

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [36]:
phrase.remove("'")

In [37]:
phrase

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [38]:
# CODE HERE
phrase

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [39]:
phrase.remove("p")

In [40]:
phrase

['D', 'o', 'n', 't', ' ', 'a', 'n', 'i', 'c']

In [41]:
phrase.remove("a")

In [42]:
phrase

['D', 'o', 'n', 't', ' ', 'n', 'i', 'c']

In [43]:
phrase.remove("n")

In [44]:
phrase

['D', 'o', 't', ' ', 'n', 'i', 'c']

In [45]:
phrase.remove("D")

In [46]:
phrase

['o', 't', ' ', 'n', 'i', 'c']

In [49]:
phrase.extend(["p","a","n","D"])

In [50]:
phrase

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [53]:
# CODE HERE
list11=['p','a','n','D','a']

In [54]:
print(''.join(list11))

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [1]:
# CODE HERE
t=(31,24,35,85)
print(type(t))
print(t)

<class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [11]:
# CODE HERE
lst=list(t)
lst.remove(35)
t1=tuple(lst)

In [12]:
t1

(31, 24, 85)

**Extent** tuple (85,19)

In [15]:
# CODE HERE
t1=(31,24,85)
t2=(85,19)
t11= t1 + t2
print(t11)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [16]:
# CODE HERE
tpl=('i','n','n','O')
'i'in tpl

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [17]:
# CODE HERE
list=['Hello',100,[],'innomatics']
list[2]=[200]

In [18]:
list

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [19]:
# CODE HERE
tpl = ("Innomatics")
print(tuple(tpl[::-1]))

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [20]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [21]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
[tpl[0] + (100,),tpl[1] + (100,),tpl[2] + (100,)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [54]:
tpl = [(10,20,40),(40,50,60),(70,80,90)]
new_val=100
new_tpl=[t[:-1]+(new_val,) for t in tpl]
print(new_tpl)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [22]:
# CODE HERE
input_str='5 2 3 6 6 5'
num_list=sorted(set(input_str.split()),reverse=True)
second_max_num=num_list[1]
print('second largest is:',second_max_num)

second largest is: 5

In [55]:
str4='5,2,3,6,6,5'

In [70]:
str5=str4.split(",")

In [73]:
str5=list(map(int,str5))

In [75]:
str5.sort()

In [83]:
list(set(str5))[-2]

5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [23]:
# CODE HERE
lst22=[12,24,35,70,88,120,155]
lst22.remove(12),lst22.remove(88),lst22.remove(120)

(None, None, None)

In [25]:
lst22

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [33]:
tp=(1,2,3,4,5,6,7,8,9,10)

In [34]:
tp1=tp[:5]
tp2=tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [35]:
tp=(1,2,3,4,5,6,7,8,9,10)

In [36]:
tp[1:10:2]

(2, 4, 6, 8, 10)

In [37]:
tp[1::2]

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

#####  List
- List are ordered , indexable and mutable
- List allows dublicate values
- Here we can add value easily

In [1]:
list=[1,2,3,4]
list[0]=10

In [2]:
list

[10, 2, 3, 4]

#### Tuple
- Collection which can be indexed but immutabl
- Once we declare the tuple , we can not edit the data

In [4]:
t=(7,8,9)
t[0]=15
t

TypeError: 'tuple' object does not support item assignment

### 2. Explain the difference between append() and extend() with examples

### append()
- append() is used to add a single element to the end of the list

In [7]:
li=[5,6,7]
li.append(8)
li

[5, 6, 7, 8]

In [8]:
li.append([9,10])
li

[5, 6, 7, 8, [9, 10]]

### extend() 
- extend() is used to extend our current list with another list

In [6]:
li=[1,2,3,4]
li.extend([5,6,7])
li

[1, 2, 3, 4, 5, 6, 7]

### 3. Explain the difference between pop() and remove() with examples

## pop()
- `pop()` is used to remove a value in the list, based on its index position. If no index is mentioned, pop() removes the last value

In [10]:
my_list=[6,7,8,9,10]
my_list.pop()
my_list

[6, 7, 8, 9]

### remove()
- remove() is used to remove the first occurrence of a value from the list if the value is known but not its index

In [11]:
my_list=[10,11,12,13,14,15]
my_list.remove(12)
my_list

[10, 11, 13, 14, 15]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)