# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [6]:
# CODE HERE
person1={'Name':'John','Gender':'Male','Occupation':'Data Science','Location':'Nizampet,Hyderabad'}
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Science',
 'Location': 'Nizampet,Hyderabad'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [7]:
# CODE HERE
person1.keys()

dict_keys(['Name', 'Gender', 'Occupation', 'Location'])

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [10]:
# CODE HERE
person1.pop('Location')

'Nizampet,Hyderabad'

In [11]:
person1

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Science'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [12]:
# CODE HERE
person2={'Age':'25','Gender':'Male','Name':'Raghu Ram','Occupation':'Data scientist'}
person2

{'Age': '25',
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [16]:
# CODE HERE
person1={'Name':'John','Gender':'Male','Occupation':'Data Science','Location':'Nizampet,Hyderabad'}
person2={'Age':'25','Gender':'Male','Name':'Raghu Ram','Occupation':'Data scientist'}
print("====================person1====================")
print(person1)
print("====================person2====================")
print(person2)

====================person1====================
{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Science', 'Location': 'Nizampet,Hyderabad'}
====================person2====================
{'Age': '25', 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [17]:
# CODE HERE
psn={1:1,2:4,3:9,4:16,5:25,6:36,7:49}

In [18]:
psn

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [19]:
#removing by pop()
psn.pop(7)

49

In [21]:
#removing by popitem()
psn.popitem()

(6, 36)

In [22]:
psn

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [1]:
# CODE HERE
my_dict={0:0,1:1,3:9,5:25,7:49,9:81}

In [2]:
my_dict_value=my_dict.values()

In [3]:
my_dict_value

dict_values([0, 1, 9, 25, 49, 81])

In [4]:
my_dict_value=list(my_dict_value)

In [5]:
my_dict_value

[0, 1, 9, 25, 49, 81]

In [6]:
my_dict_value[::-1]

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [29]:
# CODE HERE
dict1={'a':1,'b':2}
dict2={'b':3,'c':4}
dict3={'c':5,'d':6}

In [32]:
{**dict1,**dict2,**dict3}

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [8]:
# CODE HERE
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [9]:
sample_dict['emp3']['salary']=8500

In [10]:
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [41]:
# CODE HERE
sampleDict = { "class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}

In [42]:
sampleDict['class']['student']['marks']['history']

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [36]:
# CODE HERE
my_dict={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [37]:
my_dict['Area']=my_dict.pop('Location')

In [38]:
my_dict

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [13]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
username = input("Please enter your username : ")
password = int(input("Please enter your password : "))
for i in database:
    if i==username:
        if database[i]==password:
            print("hello",i)
        else:
            print("Do I update password.Then Please type  Y")
            a=input()
            if a=='Y':
                database[i]=password
                print(database)
            else:
                print("Sorry We not updated")

Please enter your username : ram
Please enter your password : 5878
Do I update password.Then Please type  Y
Y
{'ram': 5878, 'raghu': 5678, 'kanav': 1357}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)