# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
# CODE HERE
print('Kishor Mondal')

Kishor Mondal

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

# variable
- variabl are used to store data
- variable are not fixed
- we can change value any time in variable

In [3]:
# Code Here
a= 6

In [4]:
print(a)

6

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [6]:
# CODE HERE
17/2

8.5

In [7]:
17/2.0

8.5

In [8]:
12.0/3

4.0

In [9]:
1+2*5

11

In [10]:
'.'*5

'.....'

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [12]:
#CODE HERE
first_number = int(input('first number is :'))
second_number = int(input('second number is :'))
number = first_number + second_number
print('addition of two number are :',number)

first number is :100
second number is :200
addition of two number are : 300

In [5]:
first_number = 100
second_number = 200
addition =first_number+second_number

In [6]:
print('first_number is : {} \n and second_number is : {} \n and addition is : {} \n'.format(first_number,second_number,addition))

first_number is : 100
 and second_number is : 200
 and addition is : 300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [11]:
# CODE HERE
first_name = ' Sachin '
second_name = ' tendulkar '
full_name = first_name+second_name

In [12]:
print('My first_name is : {} \n second_name is : {} \n full _name is : {} \n'.format(first_name,second_name,full_name))

My first_name is :  Sachin
 second_name is :  tendulkar
 full _name is :  Sachin  tendulkar

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [12]:
# CODE HERE
a=10

In [13]:
print(type(a))

<class 'int'>

In [15]:
a='10'

In [16]:
print(type(a))

<class 'str'>

In [17]:
a=True

In [18]:
print(type(a))

<class 'bool'>

In [19]:
a=10.5

In [20]:
print(type(a))

<class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [22]:
# CODE HERE
num_int= 123
num_str=int("456")

In [23]:
num_int + num_str

579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3πr3  . What is the volume of a sphere with radius 5?

In [25]:
# CODE HERE
import math
r=5
v= 4/3*math.pi*r**3

In [26]:
print("The valume of sphere with radius",r,'is',v)

The valume of sphere with radius 5 is 523.5987755982989

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [27]:
bookPri

discount = .60

shippingPriceRest = .75

shippingPriceFirst = 3.00

totalUnits = 60

totalCostBeforeShipping = (bookPrice * discount) * totalUnits

shipping = (shippingPriceRest * (totalUnits-1)) + shippingPriceFirst

result = totalCostBeforeShipping + shipping

In [28]:
print("The total price for 60 books including shipping and discount is: ")

print("Total price of the books is: " + str(totalCostBeforeShipping))

print("Total Shipping is: " + str(shipping))

print("The Total price is: " + str(result))

The total price for 60 books including shipping and discount is:
Total price of the books is: 898.1999999999999
Total Shipping is: 47.25
The Total price is: 945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)